<div class="taskbar">
    <!-- FOR YOU BUTTON -->
    <a href="/" class="taskbar-buttons" 
    <% if (locals.page === 'home') { %>
    style="background-color: #FFFDB8;"
    <% } %>>
        <img src="svgs/for-you-button.svg">
        For You
    </a>
    <!-- POPULAR BUTTON -->
    <a href="/popular" class="taskbar-buttons" 
    <% if (locals.page === 'popular') { %>
    style="background-color: #FFFDB8;"
    <% } %>>
        <img src="svgs/thumbs-up-filled.svg">
        Popular
    </a>
    <!-- HISTORY BUTTON -->
    <a href="/history" class="taskbar-buttons" 
    <% if (locals.page === 'history') { %>
    style="background-color: #FFFDB8;"
    <% } %>>
        <img src="svgs/thumbs-up-filled.svg">
        History
    </a>

    <!-- SPACER -->
    <div class="taskbar-spacer"></div>
    
    <!-- FOLLOWING LABEL -->
    <div class="taskbar-labels">Following</div>

    <!-- USER BUTTONS (IN DEVELOPMENT) -->
    <a href="/user_10673" class="taskbar-buttons" 
    <% if (locals.page === 'user_10673') { %>
    style="background-color: #FFFDB8;"
    <% } %>>
        <img src="svgs/account-button.svg">
        user_10673
    </a>
</div>