main {
    background-color: #FFFFFF;

    display: flex;

    height: 10000px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;

    padding: 32px;
}

.post {
    background-color: #E2BF4E;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 85%;
    max-width: 800px;

    padding: 32px;
    border: #C50000 2px solid;
    border-radius: 8px;
}

.post-title {
    width: 100%;
}

.post-content {
    width: 100%;
    height: 200px;
    resize: none;
}

.hide-background {
    background-color: transparent;

    padding: 0%;
    border: none;
    margin: 0%;
    scrollbar-color: #C50000 #FFFDB8;
}

.hide-background:focus {
    border: none;
    outline: none;
}

.post-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 16px;
}

.post-button {
    font-size: 16px;
    background-color: transparent;
    color: #C50000;
    text-decoration: none;
    font-family: Arial;

    align-self: flex-end;

    width: auto;
    height: auto;

    padding: 8px 16px;
    border: #C50000 2px solid;
    border-radius: 8px;
    margin: 0px;
}