.taskbar {
    background-color: #E2BF4E;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;

    padding: 16px;
    border-right: #C50000 2px solid;
    margin: 0px;
}

.taskbar-buttons {
    text-decoration: none;
    font-family: Arial;
    
    background-color: #E2BF4E;
    color: #C50000;

    width: 140px;
    height: fit-content;

    display: flex;
    gap: 8px;
    align-items: center;

    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin: 0px;
}

.taskbar-buttons:hover, .taskbar-buttons:focus {
    background-color: #FFFDB8;
    color: #C50000;
}

.taskbar-spacer {
    background-color: #C50000;

    height: 2px;
}

.taskbar-labels {
    color: #a30000;

    padding: 8px 16px 0px 16px;
}